:root {
  --font-color: #666;
  --bg-color: #ffffff;
  --title-color: #96eeea;
  --icon-color: #6e6e6e;
  --circle-color: #eee;
}

[theme='light'] {
  --font-color: #666;
  --bg-color: #f4f4f4;
  --title-color: #96eeea;
  --icon-color: #6e6e6e;
  --circle-color: #eee;
}

[theme='dark'] {
  --font-color: #252525;
  --bg-color: #000000;
  --title-color: #29948f;
  --icon-color: #d1d1d1;
  --circle-color: #474747;
}

/* Body Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  margin: 22px auto;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
}

/* Form Styles */
#preferencesForm {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

label {
  display: inline-block;
}

select,
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="checkbox"] {
  width: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Button Styles */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

#restartButton {
  background-color: red;
  padding: 10px 20px;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

#backupButton,
#restoreButton {
  margin-right: 10px;
}

#restartButton {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .buttonGroup button {
    font-size: 14px;
    padding: 8px 10px;
    margin-left: 5px;
  }

  #restartButton {
    padding: 8px 15px;
  }

  #savePreferencesButton {
    font-size: 0;
  }

  #savePreferencesButton::after {
    content: "Save";
    font-size: 14px;
    padding: 10px 20px;
  }
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

/* Circular Chart Styles */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: var(--circle-color);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.co2 .circle {
  stroke: #ff9f00;
}

.circular-chart.temp .circle {
  stroke: #4CC790;
}

.circular-chart.humi .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.iconDarkLight {
  position: absolute;
  top: 1.2%;
  right: 2%;
  background-color: transparent;
  transition: transform .05s;
}

.iconDarkLight:active {
  transform: scale(1.5);
}

@media only screen and (max-width: 639px) {
  .flex-wrapper {
    flex-flow: column wrap;
    align-items: center;
  }

  .single-chart {
    display: flex;
    justify-content: space-around;
    height: 32vh;
    width: 32vh;
    flex-flow: wrap;
  }

  .tag {
    font: bolder condensed 90% arial;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

/* Popup Styles */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out;
}

#statusLineContainer {
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  #statusLineContainer {
    font-size: 12px;
    padding: 0 10px;
  }
}

#co2GadgetVersion {
  display: block;
  font-size: 14px;
  color: var(--font-color);
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
}

.tooltip-icon {
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  animation: fadeInOut 2s ease-in-out;
}

.tooltip-icon:hover+.tooltip-text {
  visibility: visible;
}

/* Sticky navigation bar */
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 0px 20px;
}

.navbar a.active {
  color: #999;
  pointer-events: none;
}

.navbar .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#captive-portal-status-bar {
  width: 100%;
  background-color: #fbef83;
  color: #333;
  position: fixed;
  top: 45px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
}

@media (max-width: 600px) {
  #captive-portal-status-bar {
      top: 45px;
  }
}

#hide-captive-portal-status-bar-button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 0.7em;
  cursor: pointer; /* Cambiar el cursor a una mano */
}

#hide-captive-portal-status-bar-button svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: black;
  stroke-width: 2;
}

#hide-captive-portal-status-bar-button:hover svg {
  stroke: red; /* Cambiar el color del ícono al pasar el cursor */
}

.hidden-captive-portal-status-bar {
  display: none !important;
}

/* Status Dot Styles */
.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-dot-hidden {
  visibility: hidden;
}

.status-dot-white,
.status-dot-blue,
.status-dot-red {
  visibility: visible;
}

.status-dot-white {
  background-color: white;
}

.status-dot-blue {
  background-color: blue;
}

.status-dot-red {
  background-color: red;
}

.content {
  margin-top: 120px;
}

.status-item {
  margin-bottom: 10px;
}

.status-label {
  font-weight: bold;
}

/* Add a fade animation effect */
@keyframes fadeInOut {
  0% {
      opacity: 0;
  }

  25% {
      opacity: 1;
  }

  75% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}
